nav {
  width: 20%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img{
    width: 60%;
  }

  h1{
    text-align: center;
  }
  
  li{
    cursor: pointer;
    a{

      color: black;
    text-decoration: none;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
    }
  }
}

@media only screen and (max-width: 600px) {
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    img{
      display: none;
    }
    h1{
      width: 100%;
    }
    ul{
      display: none;
    }
    &.open ul{
      display: block;
    }
  }
}
