.about {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  figure {
    width: 50%;
    max-height: 100vh;
    img {
      width: 100%;
    }
  }

  div {
    width: 50%;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .about {
    height: auto;
    flex-direction: column;
    figure{
      width: 100%;
    }
    div {
      width: 80%;
      padding: 0;
    }
  }
}
