.content {
  width: 80%;
  float: right;
}

body {
  /* background: rgb(210, 210, 210); */
  /* background: linear-gradient(
    90deg,
    rgba(210, 210, 210, 1) 0%,
    rgba(255, 255, 255, 1) 5%,
    rgba(255, 255, 255, 1) 95%,
    rgba(210, 210, 210, 1) 100%
  ); */
}

@media only screen and (max-width: 600px) {
  .content {
    width: 100%;
    float: none;
    margin-top: 10%;
  }
}
